registry=https://diit-nex.eastus.cloudapp.azure.com/repository/npm-all/
//diit-nex.eastus.cloudapp.azure.com/repository/npm-all/:_authToken={DIIT_NEX_TOKEN}

@dedalusdiit:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken={PKG_TOKEN}
