dist: trusty
sudo: false

language: node_js
node_js:
  - "8"

addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable

cache:
  directories:
     - ./node_modules

install:
  - npm install

script:
  # Use Chromium instead of Chrome.
  - export CHROME_BIN=chromium-browser
  - xvfb-run -a npm run lint
  - xvfb-run -a npm run test -- --watch=false --code-coverage --no-progress --browsers=ChromeHeadless
  - xvfb-run -a npm run e2e --no-sandbox

after_success:
  # Send coverage info off to cloud ppl
  - ./node_modules/.bin/codecov
  - npm run deploy
