dist: trusty
sudo: false

language: node_js
node_js:
  - "6"

cache:
  directories:
     - ./node_modules

install:
  - npm install

script:
  # Use Chromium instead of Chrome.
  - export CHROME_BIN=chromium-browser
  - xvfb-run -a npm run lint
  - xvfb-run -a npm run test -- --single-run --code-coverage --no-progress --browser=ChromeNoSandbox
  - xvfb-run -a npm run e2e -- --no-progress --config=protractor-ci.conf.js

after_success:
  # Send coverage info off to cloud ppl
  - ./node_modules/.bin/codecov