<div class="row">
    <div class="col-12">
        <div class="alert alert-success" role="alert">
            Selected rooms: {{values}}
        </div>
    </div>
    <div class="col-12">
        <div class="form-group row">
            <label for="item-category" class="col-3 col-form-label">Item category</label>
            <div class="col-9">
                <ngx-dropdown-treeview [config]="config" [items]="items" (selectedChange)="values = $event">
                </ngx-dropdown-treeview>
            </div>
        </div>
    </div>
</div>