<div class="container">
    <h2>Angular ngx-treeview component demo</h2>
    <hr />
    <br />
    <div class="row">
        <label for="item-category" class="col-3 col-form-label">Language</label>
        <div class="col-9">
            <select class="form-control" [(ngModel)]="language">
                <option value="en">
                    English
                </option>
                <option value="vi">
                    Tiếng Việt
                </option>
            </select>
        </div>
    </div>
    <hr>
    <ngx-book></ngx-book>
    <br />
    <ngx-room></ngx-room>
    <br />
    <ngx-city></ngx-city>
    <br />
    <ngx-dropdown-treeview-select-demo></ngx-dropdown-treeview-select-demo>
    <br />
    <ngx-product></ngx-product>
</div>