:host u-header {
  padding: 0 !important;
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
  color: var(--u-content-text-primary-fg) !important;
}

:host ::ng-deep u-header .template-container {
  margin: 0 !important;
  display: flex;
}

.content-wrapper {
  padding: 3rem;
  height: calc(100% - 3.57rem) !important;
}
