<header class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">ngx-treeview</a>
  <div class="navbar-nav mr-auto"></div>
  <a class="github-button" href="https://github.com/leovo2708/ngx-treeview" data-icon="octicon-star" data-size="large"
    data-show-count="true" aria-label="Star leovo2708/ngx-treeview on GitHub">Star</a>
</header>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-2 sidebar">
      <nav>
        <div class="form-inline">
          <label class="mr-sm-2">Language</label>
          <select class="form-control" [(ngModel)]="language">
            <option value="en">
              English
            </option>
            <option value="vi">
              Tiếng Việt
            </option>
          </select>
        </div>
        <ul class="nav nav-pills flex-column">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="components">Components</a>
            <a class="nav-link" routerLink="pipe">Pipe & i18n</a>
            <a class="nav-link" routerLink="performance">Performance</a>
            <a class="nav-link" routerLink="template">Template</a>
            <a class="nav-link" routerLink="advanced">Advanced</a>
          </li>
        </ul>
      </nav>
    </div>
    <main class="col-12 col-md-10">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
