<u-header
  id="header-toolbar"
  class="bg-primary border-0 flex-grow-0"
  [uTitle]="'Terminology Tree'">
  <ng-template uTemplate="toolbar" let-item>
    <div class="d-flex flex-grow-1 align-items-center justify-content-between">
      <div class="d-flex align-items-center header-nav h-100">
        <a class="mr-5">
          <img
            class="logo"
            id="du-logo"
            src="assets/svg/du-logo.svg"
            alt="logo" />
        </a>
      </div>
      <div class="d-flex align-items-center">
        <u-toggle-switch
          [(ngModel)]="isDark"
          (uValueChanges)="onThemeToggleChange($event)"></u-toggle-switch>
      </div>
    </div>
  </ng-template>
</u-header>

<main class="content-wrapper">
  <router-outlet></router-outlet>
</main>
