<div class="row">
    <div class="col-12">
        <div class="alert alert-success" role="alert">
            Selected cities: {{values | json}}
        </div>
    </div>
    <div class="col-12">
        <div class="form-group row">
            <label for="city-category" class="col-3 col-form-label">City category</label>
            <div class="col-9">
                <ngx-dropdown-treeview [items]="cities | ngxTreeview:'name'" (selectedChange)="values = $event">
                </ngx-dropdown-treeview>
            </div>
        </div>
    </div>
</div>