<h4>Example 1: Primary features</h4>
<div class="row">
    <div class="col-12">
        <div class="alert alert-success" role="alert">
            Selected books: {{values}}
        </div>
    </div>
    <div class="col-12">
        <div class="row">
            <div class="col-lg-4 col-sm-12">
                <div class="form-group">
                    <p><strong>Configuration</strong></p>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" [(ngModel)]="config.hasAllCheckBox">
                            hasAllCheckBox
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" [(ngModel)]="config.hasFilter">
                            hasFilter
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" [(ngModel)]="config.hasCollapseExpand">
                            hasCollapseExpand
                        </label>
                    </div>
                    <div class="form-inline">
                        <div class="form-group">
                            <label for="maxHeight">maxHeight</label>
                            <input type="text" class="form-control mx-sm-3" id="maxHeight" placeholder="maxHeight" [(ngModel)]="config.maxHeight">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="form-group">
                    <p><strong>ngx-treeview</strong></p>
                    <ngx-treeview [config]="config" [items]="items" (selectedChange)="values = $event">
                    </ngx-treeview>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="form-group">
                    <p><strong>ngx-dropdown-treeview</strong></p>
                    <ngx-dropdown-treeview [config]="config" [items]="items" (selectedChange)="values = $event">
                    </ngx-dropdown-treeview>
                </div>
            </div>
        </div>
    </div>
</div>