/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap.scss";

body {
    padding-top: 5rem;
}

h3 {
    margin-bottom: 20px;
    padding-bottom: 9px;
    border-bottom: 1px solid #eee;
}
